<div class="user-details-panel" *ngIf="user; else noUserSelected">
  <div class="header">
    <div class="avatar">
      <div
        class="circle-avatar"
        [ngStyle]="{ 'background-color': getAvatarColor(user) }"
      >
        {{ getInitials(user) }}
      </div>
      <div class="user-info">
        <h2 class="user-name">{{ user.firstName }} {{ user.lastName }}</h2>
      </div>
    </div>
  </div>

  <div class="chat-wrapper" #chatWrapper (scroll)="onScroll($event)">
    <div class="chat-content" #chatContent>
      <div *ngFor="let msg of messages">
        <div *ngIf="msg.isDateLabel" class="date-label">
          {{ msg.displayDate }}
        </div>

        <div
          *ngIf="!msg.isDateLabel"
          class="chat-message"
          [ngClass]="{ own: msg.senderId === loggedInUserId.toString() }"
        >
          <div class="sender-name">
            {{
              msg.senderId === loggedInUserId.toString()
                ? "You"
                : user.firstName
            }}
          </div>
          <div class="bubble">
            <div class="text">{{ msg.content }}</div>
            <div class="time">{{ msg.timestamp | date : "shortTime" }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-input-box">
    <input
      #messageInput
      [(ngModel)]="newMessage"
      (keydown)="handleKeyPress($event)"
      [disabled]="!user || !loggedInUserId"
      placeholder="Type a message..."
      [disabled]="!user || !loggedInUserId"
    />
    <button (click)="sendMessage()" [disabled]="!user || !loggedInUserId">
      Send
    </button>
  </div>
</div>

<ng-template #noUserSelected>
  <div class="empty-chat-panel">
    <p>Select a user to start chatting.</p>
  </div>
</ng-template>