<div class="login-container">
    <div class="left-section">
        <img src="https://cdni.iconscout.com/illustration/free/thumb/free-developer-team-illustration-download-in-svg-png-gif-file-formats--support-group-laptop-text-design-and-development-pack-illustrations-1731280.png?f=webp" alt="Login Illustration" />
    </div>
     <div class="right-section">
    <!-- Tab Bar -->
    <div class="tab-bar">
      <div
        [class.active]="activeTab === 'signin'"
        (click)="setActiveTab('signin')"
      >
        Sign in
      </div>
      <div
        [class.active]="activeTab === 'signup'"
        (click)="setActiveTab('signup')"
      >
        Sign up
      </div>
    </div>

    <!-- Dynamic Form with animation -->
    <div
      class="form-content"
      [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'"
    >
      <app-login *ngIf="activeTab === 'signin'"></app-login>
      <app-register *ngIf="activeTab === 'signup'"></app-register>
    </div>
  </div>
</div>