form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  mat-form-field {
    width: 100%;

    ::ng-deep .mat-form-field-flex {
      background-color: white !important;
      border-radius: 50 !important;
      box-shadow: none;
      border: 1px solid #ccc;
      padding-left: 8px;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
      display: none;
    }

    ::ng-deep .mat-input-element {
      border-radius: 15px;
      font-size: 14px;
    }

    ::ng-deep .mat-icon {
      color: black;
    }
  }

  .forgot-password {
    margin-top: -10px;
    font-size: 14px;
    color: #444;
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 4px;
    font-family: Arial;

    &:hover {
      color: #0077cc;
    }
  }

  .login-btn {
    background-color: #c8e2bd;
    color: black;
    font-family: Neuton;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    width: 100%;
    text-transform: none;
  }

  .register-btn {
    background-color: #9da5a6;
    color: black;
    font-family: Neuton;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    width: 100%;
    text-transform: none;
  }

  .social-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
}
