
<div class="card-container" *ngIf="userData && !isLoading">
    <div class="user-card">
      <div class="profile-pic">
        <img [src]="'data:image/png;base64,' + userData.profileImage" alt="Profile Picture" />
      </div>
      <h3>{{ userData.id }} - <b>{{ userData.firstName }} {{ userData.lastName }}</b></h3>
      <p>{{ userData.bio }}</p>
     <!-- Status Display (OUT/IN) -->
     <span class="status" [ngClass]="status.toLowerCase()">{{ status }}</span>

     <div class="timer">
       <span>{{ checkInTime }}</span>
     </div>
 
     <!-- Check-in/Check-out Button -->
     <button class="checkin-btn" (click)="toggleStatus()">
       {{ status === 'OUT' ? 'Check-in' : 'Check-out' }}
     </button>
  
  <!-- Loading state -->
  <div *ngIf="isLoading">
    <p>Loading profile data...</p>
  </div>

