<form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form-wrapper">
  <mat-form-field appearance="outline">
    <mat-icon matPrefix>person</mat-icon>
    <input matInput placeholder="First name" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>person</mat-icon>
    <input matInput placeholder="Last Name" formControlName="lastName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>person</mat-icon>
    <input matInput placeholder="Username" formControlName="username" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>email</mat-icon>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>phone</mat-icon>
    <input matInput placeholder="Mobile No" formControlName="mobile_no" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>lock</mat-icon>
    <input matInput type="password" placeholder="Password" formControlName="password" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix>lock</mat-icon>
    <input matInput type="password" placeholder="Confirm" formControlName="confirmPassword" />
  </mat-form-field>

  <button mat-button type="submit" class="submit-btn">Sign Up</button>
</form>
