/* more/more.component.scss */
.sidebar-right {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 70px;
  background-color: orange;
  padding-top: 50px;
  z-index: 500;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  padding: 15px 0;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-links li a:hover {
  border-left: 4px solid #fff;
  background-color: #f57c00;
  color: #222;
}