.modal textarea {
  resize: none;
  min-height: 79px;
}
.weekend-btn:hover {
  background-color: #ffcccc !important;  /* Light red */
  color: #000 !important;                /* Black text */
  border-color: #ffaaaa !important;      /* Lighter border */
}
button {
  border-radius: 12px !important;
  height: 75px;
}
.today-highlight {
  background-color: #cfe2ff !important; /* light blue */
  border-width: 2px !important;
  border-radius: 12px;
   
}
