<div class="container">
  <!-- <h1><span class="icon">🎥</span> <span class="title"> Welcome to StartUp-CRM Video Meeting</span></h1> -->
  <h1>
    <!-- <img src="https://cdn3d.iconscout.com/3d/premium/thumb/businessman-welcome-pose-4916361-4104269.png" alt="Welcome Icon" class="icon" style="width: 60px; vertical-align: middle;" /> -->
    <span class="title">Welcome to StartUp-CRM Video Meeting</span>
    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/businessman-welcome-pose-4916361-4104269.png" alt="Welcome Icon" class="icon" style="width: 60px; vertical-align: middle;" />
  </h1>
  
  <button class="create-button" (click)="createMeeting()">
    ➕ Create Meeting
  </button>

  <div class="join-section">
    <input
      [(ngModel)]="meetingId"
      class="meeting-input"
      type="text"
      placeholder="Enter Meeting ID"
    />
    <button class="join-button" (click)="joinMeeting()">
      🔗 Join Meeting
    </button>
  </div>
</div>
<!-- <app-video-call></app-video-call>
<app-chat></app-chat>
<app-schedule-meeting-dialog></app-schedule-meeting-dialog> -->