<div class="container">
  <h1><span class="icon">🎥</span> <span class="title">Video Meeting</span></h1>

  <button class="create-button" (click)="createMeeting()">
    ➕ Create Meeting
  </button>

  <div class="join-section">
    <input
      [(ngModel)]="meetingId"
      class="meeting-input"
      type="text"
      placeholder="Enter Meeting ID"
    />
    <button class="join-button" (click)="joinMeeting()">
      🔗 Join Meeting
    </button>
  </div>
</div>
<!-- <app-video-call></app-video-call>
<app-chat></app-chat>
<app-schedule-meeting-dialog></app-schedule-meeting-dialog> -->