.center-wrapper {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .reminder-card {
    width: 400px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    align-content: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .reminder-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .card-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
  }
  