<div class="admin-layout">
        
  <app-navbar 
  (profileClicked)="toggleSidebar()" >
</app-navbar>

<app-admin-sidebar [isSidebarOpen]="isSidebarOpen"></app-admin-sidebar>

<div class="content-area">
  <router-outlet></router-outlet>
</div>
<!--
<app-search-overlay
  [visible]="overlayVisible"
  [visible]="showOverlay"
  [results]="searchResults"
  (close)="closeOverlay()">
</app-search-overlay>
<button (click)="overlayVisible = true">TEST POPUP</button>
-->

<app-footer-section></app-footer-section>
