<nav class=" -expand-lg -light custom-">
  <div class="nav-container w-100 d-flex justify-content-between">
    <h4 class="-title d-flex align-items-center cursor-pointer" routerLink="/admin-layout/admin-dashboard">Admin </h4>
    <button class="-toggler" type="button" data-toggle="collapse" data-target="#Nav"
        aria-controls="Nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="-toggler-icon"></span>
    </button>
        <ul class="-nav mr-auto gap-3" id="Nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Users
                </a>
                <div class="dropdown-menu" aria-labelledby="Dropdown">
                  <a class="dropdown-item users-link" (click)="navigateTo('user')">Students</a>
              
                </div>
              </li>
         
        </ul>
            <div class="nav-item" (click)="onCartIconClick()">
                <div *ngIf="firstNameInitial && lastNameInitial;" class="">
                    <p class="Name_logo">{{ firstNameInitial }}{{ lastNameInitial }}</p>
                </div>
            </div>
        
  </div>
</nav>