<div class="update-ticket-container">
    <h2>Update Ticket</h2>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
      <label>Title:
        <input type="text" formControlName="title">
      </label>
  
      <label>Description:
        <textarea formControlName="description"></textarea>
      </label>
  
      <label>Status:
        <select formControlName="status">
          <option value="OPEN">Open</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="RESOLVED">Closed</option>
        </select>
      </label>
  
      <label>Priority:
        <select formControlName="priority">
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>
      </label>
  
      <label>Assigned User ID:
        <input type="text" formControlName="assignedUserId">
      </label>
  
      <button type="submit" [disabled]="ticketForm.invalid">Update Ticket</button>
    </form>
  </div>
