<div class="container">
  <div class="content-wrapper">

    <!-- Left Sidebar -->
    <div class="sidebar sidebar-left">
      <ul class="nav-links">
        <li><a routerLink="/layout/ticket/" routerLinkActive="active">Raise Ticket</a></li>
        <li><a routerLink="/layout/ticket/myticket" routerLinkActive="active">My Tickets</a></li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <!-- Right Sidebar -->
    <div class="sidebar sidebar-right">
      <ul class="nav-links">
       <li><a routerLink="/layout/ticket/activity" routerLinkActive="active">Activity</a></li>
      </ul>
    </div>

  </div>
</div>
